<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkdSAWRcDkUyX7a9YNUktf_loNuu8FTfI</string>
	<key>GCM_SENDER_ID</key>
	<string>109149158366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.followup.leadapp</string>
	<key>PROJECT_ID</key>
	<string>inquiryapp-57cb5</string>
	<key>STORAGE_BUCKET</key>
	<string>inquiryapp-57cb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109149158366:ios:b4443c1c2ea7f845bcbb4f</string>
</dict>
</plist>